.About {
    text-align: center;
  }
  
  .top {
    margin-bottom: 20px;
  }
  
  .grids {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .person-container {
    margin-bottom: 20px;
    width: 70%;
    background-color: pink;
    border-radius: 50px; 
    overflow: hidden; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    position: relative; 
  }
  
  .first {
    position: absolute; 
    top: 2px; 
    left: 10px; 
    width: 65px; 
    height: 65px; 
    border-radius: 50%; 
  }
  